a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
}

a:active {
  color:white;
  background-color: transparent;
}
table
{

  cellpadding:1;
  background-color: black;
  height:40px;
}
th{
  width:200px;
}
div#d1{
  height:100px;
  text-align: center;
  vertical-align: middle;
  background-color: lavender;
  font-size: 400%;
  padding-top:25px;
}
div#d2
{
  background-color: black;
}
img#i2{
  width:100%;
  height:500px;
}
img#i1
{
  height:50px;
  width:50px;
}
